.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  flex: 1;
  font-size: 2.4rem;
  font-weight: 700;
}

.links {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 20px;
  font-weight: 400;
}

.link {
  transition: color 0.3s ease;
}

.link:hover {
  color: #ccc;
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
}

@media (max-width: 1280px) {
  .logo {
    font-size: 1.5rem;
  }
  .links {
    font-size: 15px;
    gap: 15px;
  }
}

@media (max-width: 1000px) {
  .logo {
    font-size: 1.2rem;
  }
  .links {
    font-size: 12px;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 1rem;
  }
  .links,
  .btn {
    display: none;
  }
}