.content{
    margin: 100px 0;
    background-color: var(--softBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.contactTitle{
    font-weight: 400;
    margin-bottom: 40px;
}

.Contactimage{
    height: 200px;
    width: 200px;
    position: relative;
}

.img{
    object-fit: cover;
    border: none;
    border-radius: 50%;
}

.icons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 440px){
    .contactTitle{
        font-size: 22px;
    }
    .icons{
        gap: 20px;
    }
}