.container{
    display: flex;
    gap: 100px;
    margin-top: 30px;
}

.imgContainer{
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.img{
    object-fit: cover;
}

.textContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title{
    font-style: 64px;
}

.detail{
    display: flex;
    gap: 20px;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    color: var(--textColor);
    font-weight: bold;
}

.detailValue{
    color: var(--softTextColor);
}

@media (max-width: 768px){
    .imgContainer{
        display: none;
    }
}